<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Event Manager</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/publisher"
          *ngIf="userService.roleMatch(['ROLE_PUBLISHER'])"
          >Publisher</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()">
          <a class="nav-link active" aria-current="page" routerLink="/user"
             *ngIf="userService.roleMatch(['ROLE_USER'])"
          >User</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()">
          <button *ngIf="!isPublisher()"  class="btn btn-primary" (click)="assignPublisherRole()">Become a Publisher</button>
        </li>
      </ul>
      <button *ngIf="!isLoggedIn()" class="btn btn-success" type="button" routerLink="/login">Login</button>
      <button *ngIf="isLoggedIn()" class="btn btn-info m-1" type="button" routerLink="/userDetails">Profile</button>
      <button *ngIf="isLoggedIn()" class="btn btn-danger" type="button" (click)="logout()">Logout</button>

    </div>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="isLoggedIn()">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Options</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
        </li>
        <a class="nav-link active" aria-current="page" routerLink="/addNewEvent"
           *ngIf="userService.roleMatch(['ROLE_PUBLISHER'])">Add Events</a>
        <a class="nav-link active" aria-current="page" routerLink="/showPublisherEvents"
           *ngIf="userService.roleMatch(['ROLE_PUBLISHER'])">Publisher Events</a>

      </div>
    </div>
  </div>
</nav>
